<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{subject}}</title>
  </head>
  <body>
    <p>Dear
      {{invitedToEmail}},
      <br />
      You are invited to join
      {{organizationName}}
      as recommended by
      {{invitedByUserEmail}}. Please follow the link below to register and
      become a part of our community.
      <br />
      <a href="{{link}}">{{link}}</a>
      <br />
      Best regards,
      {{invitedByUserName}}
    </p>
  </body>
</html>
